@import url('https://fonts.googleapis.com/css?family=Bellefair');
body {
font-family: helvetica;
width: auto;
padding: 40px;
}
header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}
h1 {

font-family: 'Bellefair', Arial;
font-weight: bold;
}
nav {
	background-color: #E8C66A;
	padding: 20px;
	border: 1px black solid;
}
aside {
	background-color: #FFC675;
	min-width: 250px;
	padding: 20px;
}
article {
	background-color: #E89C6C;
	padding: 20px;
}
footer {
	background-color: #FF957E;
	padding: 20px;
	border: 1px black solid;
}
#section {
	background-color: #FFE2B8;
	padding: 10px;
	border: 1px black solid;
}
p{
font-size: 14px;
}
ul {
font-size: 12px;
}
img {

}
#slogan {
	color: a8a8a8;
}
